---
layout: default
---
<div class="container content-lg"> 
<div class="row news-row">
                    <div class="col-sm-3 sm-margin-b-30">
                        <div class="text-right sm-text-left">
                            <h2 class="margin-b-0">News</h2>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <div class="margin-b-60">
                            
                            <p class="news-entry-content">
                                {{page.title}}
                            </p>
 
                            <img class="news-entry-img" src="{{ page.image }}" />
                            
                            <div class="news-row">{{ content }}</div>
                            
                            
                        </div>
                        

                    </div>
                    
                </div>
</div>
     
     
     


 
